## Keyworks

In [1]:
import keyword

In [2]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## Variables

In [3]:
a = 100

In [4]:
id(a)

94417943537280

In [5]:
a = 200

In [7]:
id(a)

94417943540480

In [8]:
type(a)

int

In [9]:
print(type(a))

<class 'int'>

In [11]:
isinstance(a, int)

True

In [12]:
b = 1 + 5j

In [13]:
type(b)

complex

In [14]:
isinstance(b, complex)

True

## String

In [15]:
a = "Suman Debnath"

In [16]:
a[2:]

'man Debnath'

## List

In [17]:
a = [1,2,3,4]

In [18]:
a[3]

4

In [22]:
a[::2]

[1, 3]

In [23]:
list("Suman")

['S', 'u', 'm', 'a', 'n']

## Python Input and Output

In [24]:
print("Hello World")

Hello World

In [25]:
a = 34

In [26]:
print((f"My age is {a}"))

My age is 34

## Python Input

In [27]:
a = input("Enter a name :")

Enter a name :Suman Debnath

In [28]:
a

'Suman Debnath'

In [29]:
type(a)

str

In [32]:
b = input("Enter a number :")

Enter a number :100

In [33]:
type(b)

str

## Operator

In [34]:
a = 100 + 200

In [35]:
a, b = 10, 2

In [36]:
a

10

In [37]:
b

2

In [38]:
2 ** 4

16

In [39]:
10 / 3

3.3333333333333335

In [40]:
10 // 3

3

In [41]:
10%3

1

In [42]:
a, b = 10, 20

In [43]:
a > b

False

## Membership Operator

a = 10

In [44]:
a in range(200)

True

In [45]:
a = { 1: "Suman",
      2: "Debnath", 
      3: "Reyaan"}

In [48]:
2 in a # Checks for the value NOT keys

True

In [47]:
"Suman" in a

False

## Control Flow

In [54]:
a = range(50)

for i in a:
    if i // 5 == 0:
        print(i)

0
1
2
3
4

## While Loop

In [58]:
a = [ i for i in range(1, 100) if i % 10 == 0 ]

In [59]:
a

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [61]:
result = 0 
index = 0 

while index < len(a):
    result = result + a[index]
    index += 1

In [62]:
result

450

In [63]:
sum(a)

450

In [64]:
a

[10, 20, 30, 40, 50, 60, 70, 80, 90]

## Prime Number Check

In [82]:
def prime_check(num):
    
    i = 2
    while i <= (num // 2) + 1:
        if num % i == 0:
            print(f"The number {num} is NOT a prime number")
            break
        i += 1
    else:
        print(f"The number {num} is a prime number")

In [83]:
prime_check(4)

The number 4 is NOT a prime number

In [85]:
prime_check(29)

The number 29 is a prime number

## Prime Number within a range

In [86]:
def prime_check2(num):
    
    i = 2
    while i <= (num // 2) + 1:
        if num % i == 0:
            return False
            break
        i += 1
    else:
        return True

In [87]:
a = range(1, 100)

In [88]:
prime_numbers = []

for i in a:
    if prime_check2(i):
        prime_numbers.append(i)

In [91]:
print(prime_numbers)

[1, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]